.video-metadata {
  .video-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .video-actions {
      display: flex;
      align-items: center;
      & > *:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
